<% include ../partials/header %>
<% if(currentUser && currentUser.isAdmin){ %>
<h1>you are an admin</h1>
<% } %>
<div class="container">
<header class="jumbotron">
    <div>
<h1>Welcome to Yelpcamp</h1>
<p>Travel For Leisure Exprience.</p>
<a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">add New Campground</a>
   </div>
</header>

<div class="row text-center" style="display:flex, flex-wrap:wrap">
<% campgrounds.forEach(function(campground){ %>
    <div class="col-med-6 col-sm-3">
           <div class="thumbnail">
       <img src="<%= campground.image %>">
      <div class="caption">
         <h4><%= campground.name %></h4>
      </div>
      <p>
          <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">More Info</a>
      </p>
          </div>
   </div>
<% }); %>
</div>
</div>


<% include ../partials/footer %>